* {
  outline: 1px solid red;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  height: 250px;
  width: 250px;
  margin: 10px;
}

.item > p {
  margin: 0;
  color: green;
  font-size: 60px;
  /* animation-name: tackyAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
  animation: tackyAnimation 2s infinite
}

.container :nth-child(5) > p {
  align-self: flex-end;
}

@keyframes tackyAnimation {
  0% {
    background-color: red;
    font-size: 20px;
  }

  50% {
    background-color: white;
    font-size: 60px;
  }

  100% {
    background-color: yellow;
    font-size: 20px;
  }
}
