.container {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: blue;
  height: 250px;
  width: 250px;
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  & :hover {
    background-color: grey;
  }
}

.item > p {
  color: white;
  font-size: 60px;
}

/* .container :nth-child(4){
    flex-grow: 4;
} */

.container :nth-child(2) {
  background-color: yellow;

  & p {
    color: red;
    align-self: flex-end;
  }
  animation: myAnimation 2s infinite;
}

.item > p {
  animation: myAnimation 2s infinite;
}
@keyframes myAnimation {
  0% {
    background-color: red;
    font-size: 30px;
  }
  50% {
    background-color: greenyellow;
    font-size: 60px;
  }

  100% {
    background-color: yellow;
    font-size: 80px;
  }
}
