
* {
    outline: 1px solid red
}

h1 {
    color: blue;
}

p {
    color :green
}

img {
    width: 200px;
}

.pTag {
    background-color: indianred;
}

#thirdP {
    font-size: 30px
}
div > p {
    background-color: lightblue;
}
div p {
    background-color: yellow;
    }

h1 {
    color: red 
}
#h1 {
    color: yellow 
}